*{
  margin:0;
}

.app{
  /* background-color: #fafafa; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.app__header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  width: 100%;
  /* box-shadow: 2px 2px 5px black; */
  padding:10px;
  flex-basis: 5%;
}

.app__posts{
  flex-basis: 90%;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
}

.app__postsRight{
  margin-left: 15px;
}

.image__upload{
  flex-basis: 5%;
}

.app__signup{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.app__headerImage{
  object-fit: contain;
  padding: 10px;
}


.image__upload{
  padding: 2rem;
  color: white;
  align-self: center;
  padding-top: 10px;
}